.projectComponent {
  background-color: #5845ff;
  display: flex;
  align-items: center;
  justify-content: center;
  .projectContainerWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    h1 {
      font-size: 2rem;
      text-align: center;
      color: #fff;
    }
    .projectCardWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 25px;
    }
    .projectCardWrap {
      display: flex;
      align-items: center;
      justify-content: center;

    }
    .buttonWrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .allProjectButton {
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #fbce33;
        color: #000;

        &:hover {
          background-color: transparent;
          outline: 2px solid #fbce33;
          color: #fbce33;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .projectComponent {
    padding: 30px 20px;

    .projectContainerWrapper {
      .projectCardWrapper {
        flex-direction: column;
        row-gap: 20px;
        .projectCardWrap {
          .projectCard {
            width: 90%;
          }
        }
      }
    }
  }
}
