header {
  position: relative;
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    .right {
      display: flex;
      gap: 25px;
      align-items: center;
      a {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        &:hover {
          color: #fbce33;
        }
       &.activeLink {
          color: #fbce33;
        } 
      }
      .resumeButton {
        padding: 10px 20px;
        background-color: #fbce33;
        color: #000;
        border-radius: 5px;

        &:hover {
          background-color: transparent;
          outline: 2px solid #fbce33;
          color: #d22178;
        }
      }
      .hamBergerMenu {
        display: none;
        font-size: 1.5em;
        cursor: pointer;
      }
    }
  }
  .mobileNav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: #d22178;
    color: white;
    z-index: 9999;

    a {
      padding: 20px 30px;
      display: block;
      text-align: center;
      font-size: 1.2em;
      text-decoration: none;
      color: white;
      &:hover {
        background-color: #fbce33;
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  nav:first-child {
    .right {
      a:first-child,
      a:nth-child(1),
      a:nth-child(2),
      a:nth-child(3),
      a:nth-child(4),
      a:nth-child(5) {
        display: none;
      }
    }
  }
  .hamBergerMenu {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .mobileNav {
    &.active {
      display: flex;
    }
  }
}
