.textComponent {
  // width: 60%;
  .text {
    font-size: 6.5rem;
    font-weight: bolder;
    img {
      max-width: 100%;
    }
  }

  p {
    background: -webkit-linear-gradient(to right, #f5562a, #dbff00);
    background: linear-gradient(to right, #f5562a, #dbff00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    a {
      text-decoration: none;
      color: white;
    }
    .contactLink,
    .resumeLink {
      padding: 10px 20px;
      border-radius: 5px;
    }
    .contactLink {
      background-color: #fbce33;
      color: #000;

      &:hover {
        background-color: transparent;
        outline: 2px solid #fbce33;
        color: #fbce33;
      }
    }
    .resumeLink {
      background-color: transparent;
      outline: 2px solid #fbce33;
      color: #fbce33;
      &:hover {
        background-color: #fbce33;
        color: #000;
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .textComponent {
    .buttonContainer {
      .contactLink {
        background-color: #f5562a;
        color: #fff;

        &:hover {
          background-color: transparent;
          outline: 2px solid #f5562a;
          color: #f5562a;
        }
      }
      .resumeLink {
        background-color: transparent;
        outline: 2px solid #f5562a;
        color: #f5562a;
        &:hover {
          background-color: #f5562a;
          color: #000;
          outline: none;
        }
      }
    }
  }
}
